body {
  background-image: url(images/sea.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  font-size: 60px;
  text-shadow: 2px 2px black;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 24px;
  margin: 4% 0 0 4%;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: white;
  font-size: 16px;
  margin-block-start: 0;
  margin: 2% 4%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  padding: 5%;
  margin-top: 10%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}
.logo-and-title {
  display: flex;
  align-items: center;
}

.header a {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background: #d00115;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px black;
  margin: 1%;
}
