body {
  background-image: url(images/sea.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  font-size: 60px;
  text-shadow: 2px 2px black;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-section h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 24px;
  margin: 4% 0 0 4%;
}

.menu-section h2 {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: white;
  font-size: 18px;
  margin-block-start: 0;
}

.main-section p {
  margin: 2% 4%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  padding: 5%;
  margin-top: 10%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2% 5%;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.header a {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background: #d00115;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px black;
  margin: 1%;
}

.with-fb-map {
  display: flex;
}

.main-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 100, 130, 0.8);
}

.main-section a {
  color: white;
}

.map {
  padding: 20px;
  background-color: rgba(100, 100, 130, 0.8);
}

.menu-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 100, 130, 0.8);
}

.big-screen {
  display: flex;
  flex-direction: column;
}

.menu-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 12px 0 12px;
}

.menu-entry p {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.price {
  text-align: end;
}

.with-detail {
  display: flex;
  flex-direction: column;
}

.menu-detail p {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 10px;
}

@media (min-width: 668px) {
  .menu-section {
    justify-content: space-between;
    width: 70%;
    padding: 0 15%;
  }
  .menu-entry p {
    font-size: 16px;
  }

  .menu-detail p {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .menu-section {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .big-screen {
    width: 45%;
    padding: 0 5% 3% 5%;
  }
}
